<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="holamundo.itesm.mx.houseundercontrol_v1" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity_config"
            android:label="@string/title_activity_activity_config" >
        </activity>
        <activity
            android:name=".ver_configuracion"
            android:label="@string/title_activity_ver_configuracion" >
        </activity>
        <activity
            android:name=".MonitoreoActivity"
            android:label="@string/title_activity_monitoreo" >
        </activity>
        <activity
            android:name=".MapActivity"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name=".ver_todos"
            android:label="@string/title_activity_ver_todos" >
        </activity>
        <activity
            android:name=".ver_alarmas"
            android:label="@string/title_activity_ver_alarmas" >
        </activity>
        <activity
            android:name=".monitoreo_Servidor"
            android:label="@string/title_activity_monitoreo__servidor" >
        </activity>
        <activity
            android:name=".MapTodos"
            android:label="@string/title_activity_map_todos" >
        </activity>
        <activity
            android:name=".MonitoreoTodos"
            android:label="@string/title_activity_monitoreo_todos" >
        </activity>
    </application>

</manifest>
